*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

h3{
    font-weight: 900;
}

ul{
    padding-left: 1rem;
}

b{
    font-weight: 900;
}

#root,
#__next {
    isolation: isolate;
}

.page-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

#map {
    width: 100vw;
    height: 100vh;
    /* max-width: 950px; */
    /* max-height: 600px; */
}

@media (max-width: 768px){
    #map {
        width: 95vw;
        height: 75vh;
    }
}

.leaflet-popup-content h3{
    margin: 0 0 10px 0 !important;
}

.leaflet-popup-content p{
    margin: 0 0 5px 0 !important;
}